$azul: #4c79bd;
$azul1: #20324db0;
$azul2:#29416C;
$azul3:#2D354B;
$azulCard:#364f7424;
$azulTranslucido: #272e41ee;
$hoverBoton: #4c79bd4f;
$oscuro: #302C34;
$blancoTranslucido: #ffffffa9;
$backgroundHover: #343b4d36;
$transparente: #ffffff00;
$paddingDefecto: 20px;